version: '3.8'  # можно убрать, но для ясности оставим


networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
    driver: local

services:
  nginx:
    image: nginx:1.25-alpine
    ports:
      - "8031:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./src:/var/www/laravel:rw
    depends_on:
      - php
    networks:
      - app-network

  php:
    build:
      context: dockerfiles
      dockerfile: php.Dockerfile
    volumes:
      - ./src:/var/www/laravel:rw
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      XDEBUG_MODE: debug
      XDEBUG_CONFIG: |
        client_host=host.docker.internal
        start_with_request=yes
      XDEBUG_TRIGGER: 'yes'
    networks:
      - app-network
    restart: unless-stopped

  pgsql:
    image: postgres:13
    env_file:
      - .env
    environment:
      PGPASSWORD: '${DB_PASSWORD}'
      POSTGRES_DB: '${DB_DATABASE}'
      POSTGRES_USER: '${DB_USERNAME}'
      POSTGRES_PASSWORD: '${DB_PASSWORD}'
    volumes:
      - ./pgsql:/tmp
      - postgres-data:/var/lib/postgresql/data
    ports:
      - '${DB_PORT}:5432'
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d db"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  composer:
    build:
      context: dockerfiles
      dockerfile: composer.Dockerfile
    volumes:
      - ./src:/var/www/laravel:rw
    networks:
      - app-network

  artisan:
    build:
      context: dockerfiles
      dockerfile: php.Dockerfile
    volumes:
      - ./src:/var/www/laravel:rw
    entrypoint: ["php", "/var/www/laravel/artisan"]
    networks:
      - app-network
